@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
/* CSS Document */

a {
    color: #9CC0F3;
}

body {
    background: white;
    margin: 0;
}

.checkbtn {
    color: #9CC0F3;
    float: right;
    font-size: 40px;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.classic-pics {
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}

.classic-pics figcaption{
    color:#9CC0F3;
    font-family: "Press Start 2P";
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5;

}

.classic-pics img {
    width: 500px;
}

.contact-form {
    animation-name: anim3;
    animation-duration: 2s;
    display: block;
    height: 800px;
    line-height: 3;
    margin-right: 100px;
    /* outline: 4px solid blue; */
    width: 600px;
    padding: 20px;
    outline: 2px solid yellow;

}

@keyframes anim3 {
    from{
        margin-left: -100%;
    }

    to {
       margin-left: 0%;
    }
}

#contact-landing-logo {
    width: 600px;
}

.landing-logo-box.contact-logo {
    margin-top: auto;
    margin-bottom: auto; 
}

.content-container {
    background-color: white;
    height: 150%;
    
}

.content {
    /*background-color: aqua;*/
    margin: 0% 20% 10% 20%;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    outline: 10px double #9CC0F3;
}


.content p {
    text-align: justify;  
    color: #060823;
    font-family: 'Quicksand';
    font-size: 30px;
    line-height: 1.75;
}

.content h1 {
    color: #9CC0F3;
    font-size: 50px;
    padding: 20px 0px 20px 0px;
}

h1 {
    color: #9CC0F3;
}

header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin: 0px;
}

#header-logo {
    animation-duration: 1.0s;
    animation-name: anim1;
    margin: 0px 10px 0px 10px;
    width: 300px;
}

@keyframes anim1 {
    from {
      margin-top: -100%;
      opacity: 0%
    }

    75% {
        opacity: 0%
    }
  
    to {
      margin-top: 0%;
      opacity: 100%;
    }
}


.input-block {
    display: block;
    padding: 10px;
}

.input-block input{
    background-color: #060823;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 25px;
    margin: 0px 20px 0px 20px;
    width: 75%;
    border: 2px solid #9CC0F3;
    font-size: 20px;
 }

.input-block textarea {
    background-color: #060823;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 75%;
    border: 2px solid #9CC0F3;
    margin: 0px 20px 0px 20px;
    max-height: 200px;
    max-width: 100%;
    font-size: 20px;
}

.input-block label {
    font-family: 'Press Start 2P';
    font-size: 20px;
    color: #9CC0F3;
    margin: 0px 20px 0px 20px;
}

.landing {
    background-color: #060823;
    background-image: url(../img/snow.png);
    background-size: 100% 40%;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100vh;
    padding-top: 100px;
}

.landing-contact {
    background-color: #060823;
    background-size: 100% 40%;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100%;
    padding-top: 100px;
}

#landing-logo {
    width: 200px;
}

.landing-logo-box {
    margin: 50px;
    outline: 2px solid red;
}

.landing-message {
    margin-bottom: auto;
    margin-top: auto;
    outline: 2px solid yellow;
    
}

.landing-message h1 {
    /* color: #EDC5F6; */
    animation-name: anim2;
    animation-duration: 1.0s;
    color: #060823;
    font-size: 50px;
    letter-spacing: 4px;
    text-shadow: 0px 0px 1.5px #9CC0F3,
                 0px 0px 1.5px #EDC5F6;
    transition: all 500ms;
}



@keyframes anim2 {
    from{
        opacity: 0%;
        font-size: 0px;
    }

    to {
        opacity: 100%;
        font-size: 50px;
    }
}

.landing-message h1:hover {
    font-size: 55px;
}


.landing-popup {
    display: flex;
    justify-content: center;
    margin: 50px;
    outline: 2px solid blue;
    margin-top: 20vh;
}



.nav-container {
    background: #060823;
    position: fixed;
    width: 100%;
}



nav ul {
    float: right;
    margin: 35px 5px 35px 5px;
}

nav ul li{
    display: inline-block;
    color:#9CC0F3;
    list-style-type: none;
    margin: 0px 40px 0px 40px;
    font-family: 'Press Start 2P';
}


#about {
    animation-duration: 1.0s;
    animation-name: anim1;
}

#art {
    animation-duration: 1.25s;
    animation-name: anim1;
}

#contact {
    animation-duration: 1.5s;
    animation-name: anim1;
}

nav ul li a {
    color: #9CC0F3;
}

nav ul li a:hover {
    color: #EDC5F6;
}

.navy {
    background: #060823;
}

p {
    color: white;
}

.submit-button {
    width: 75px;
    height: 75px;
    margin: 0px 0px 0px 30px;
    background: transparent;
    border: none;
}

/* RESPONSIVE MEDIA */
@media screen and (max-width: 1500px) {
    .landing-popup {
        margin-top: 10vh;
    }
    
    .contact-form {
        line-height: 2;
        height: 600px;
        width: 500px;
    }

    #contact-landing-logo {
        width: 400px;
    }

    .input-block input{
        font-size: 20px;
     }
    
    .input-block textarea {
        font-size: 20px;
    }
    
    .input-block label {
        font-size: 15px;
    }

    .landing-popup.contact-popup {
        margin-top: 10vh;
    }
}


@media screen and (max-width: 1175px) {

    #contact-landing-logo {
        width: 300px;
    }

    .landing-logo-box.contact-logo {
        width: 300px;
    }
    .contact-form {
        margin-right: 0;
    }
    
    .input-block input{
        width: 90%;
     }
    
    .input-block textarea {
        width: 90%;
    }

    .input-block label {
        margin: 0px 20px 0px 20px;
        /* outline: 2px solid rgb(195, 124, 197); */
    }
    
}

@media screen and (max-width: 917px) {
    .landing-popup.contact-popup {
        display: block;
    }

    .landing-contact {
        height: 100%;
    }

    .contact-form, .landing-logo-box.contact-logo{
        margin-left: auto;
        margin-right: auto;
        animation: anim7 2s;
    }

    @keyframes anim7 {
        from{
            opacity: 0%;
        }
    
        to {
           opacity: 100%;
        }
    }
    
    .landing {
        height: 100vh;
    }
    
    #landing-logo {
        width: 150px;
    }

    .landing-message h1 {
        animation-name: anim4;
        font-size: 30px;
    }

    @keyframes anim4 {
        from{
            opacity: 0%;
            font-size: 0px;
        }
    
        to {
            opacity: 100%;
            font-size: 30px;
        }
    }

    .landing-message h1:hover {
        font-size: 30px;
    }
    
    .content p {
        font-size: 25px;
        line-height: 1.75;
    }
}

@media screen and (max-width: 830px) {
    .checkbtn {
        animation-duration: 1.0s;
        animation-name: anim1;
        display: block;
    }
    
    .landing {
        height: 100vh;
    }

    #landing-logo {
        width: 150px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#9CC0F3;
        top: 45px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0px;
        line-height: 10vh;
    }

    nav ul li a{
        font-size: 20;
        color: white;
    }

    #about {
        animation-name: none;
    }
    
    #art {
        animation-name: none;
    }
    
    #contact {
        animation-name: none;
    }

    #check:checked ~ ul{
        top: 45px;
        left: -5px;
    }

    .classic-pics img {
        width: 300px;
    }

    .content {
        margin: 0% 10% 10% 10%; 
    }
}


@media screen and (max-width: 700px) {
    .checkbtn {
        line-height: 2;
        margin-right: 20px;
    }

    .content p {
        font-size: 20px;
        line-height: 1.75;
    }
    
    .landing {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    
    .landing-popup {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        justify-content: center;
    }

    #landing-logo {
        display: block;
        width: 150px;
        padding: 0px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-form {
        margin: none;
        width: 400px;
    }
    
    .input-block input{
        width: 100%;
        margin-left: 0;
     }
    
    .input-block textarea {
        width: 100%;
        margin-left: 0;
    }

    .input-block label {
        margin: 0px 20px 0px 20px;
        margin-left: 0;
        /* outline: 2px solid rgb(195, 124, 197); */
    }
}

@media screen and (max-width: 500px) {
    #header-logo {
        width: 200px;
        margin-top: 15px;
        margin-left: 20px;;
    }

    .landing {
        width: 100vw;
        display: flex;
        justify-content: center;
        height: 100vh;
        background-size: 100% 30%;
    }

    .landing-message h1 {
        animation-name: anim5;
        font-size: 30px;
    }

    @keyframes anim5 {
        from{
            opacity: 0%;
            font-size: 0px;
        }
    
        to {
            opacity: 100%;
            font-size: 30px;
        }
    }

    .landing-message h1:hover {
        font-size: 30px;
    }

    .landing-popup {
       margin: 0;
    }

    .contact-form {
        width: 300px;
    }
}


@media screen and (max-width: 400px) {

    .classic-pics img {
        width: 200px;
    }
    
    .landing {
        width: 100vw;
        height: 100vh;
        background-size: 100% 30%;
    }

    #landing-logo {
        width: 200px;
    }

    .landing-message h1 {
        animation-name: anim6;
        font-size: 30px;
    }

    @keyframes anim6 {
        from{
            opacity: 0%;
            font-size: 0px;
        }
    
        to {
            opacity: 100%;
            font-size: 30px;
        }
    }
}